<div class="home">
  <div class="title">
    <h1>Plan & Chill</h1>
    <span>Réservez et détendez vous !</span>
  </div>
  <app-search-bar></app-search-bar>
  <div class="services-list">
    <a href="">Coiffeur</a> | <a href="">Barbier</a> | <a href="">Onglerie</a> |
    <a href="">Épilation</a> | <a href="">Soins ésthétiques</a> |
    <a href="">Spa & Massage</a>
  </div>
  <div class="cities">
    <h3>Trouvez des professionnelles de la Beauté dans votre Ville :</h3>
    <div class="cities-list">
      <div class="cities-column">
        <a href="">Paris</a>
        <a href="">Marseille</a>
        <a href="">Lyon</a>
      </div>
      <div class="cities-column">
        <a href="">Toulouse</a>
        <a href="">Nice</a>
        <a href="">Nantes</a>
      </div>
      <div class="cities-column">
        <a href="">Montpellier</a>
        <a href="">Strasbourg</a>
        <a href="">Bordeaux</a>
      </div>
      <div class="cities-column">
        <a href="">Lille</a>
        <a href="">Rennes</a>
        <a href="">Toulon</a>
      </div>
    </div>
  </div>
</div>
