<form class="sign-up" (ngSubmit)="onSubmit()" #signInForm="ngForm">
  <h1>Inscrivez-vous</h1>
  <div class="name">
    <div class="field firstName">
      <div class="label">
        <label for="firstName">Prénom</label>
      </div>
      <input
        class="form-control"
        type="text"
        id="firstName"
        name="firstName"
        ngModel
        required
      />
      @if(signInForm.controls['firstName'].touched &&
      signInForm.controls['firstName'].invalid){
      <div class="errors-list">
          <span class="error-message">Prénom invalide</span>
      </div>
      }
    </div>
    <div class="field lastname">
      <div class="label">
        <label for="name">Nom</label>
      </div>
      <input
        class="form-control"
        type="text"
        id="name"
        name="name"
        ngModel
        required
      />
      @if(signInForm && signInForm.controls['name'].touched &&
    signInForm.controls['name'].invalid){
    <div class="errors-list">
        <span class="error-message">Nom invalide</span>
    </div>
    }
    </div>
  </div>
  <div class="field phone">
    <div class="label">
      <label for="phone">Téléphone</label>
    </div>
    <input
      class="form-control"
      type="tel"
      id="phone"
      name="phone"
      ngModel
      required
    />
    @if(signInForm.controls['phone'].touched &&
    signInForm.controls['phone'].invalid){
    <div class="errors-list">
        <span class="error-message">Téléphone invalide</span>
    </div>
    }
    
  </div>
  <div class="field email">
    <div class="label">
      <label for="email">Adresse email</label>
    </div>
    <input
      class="form-control"
      type="email"
      id="email"
      name="email"
      ngModel
      required
    />
    @if(signInForm &&signInForm.controls['email'].touched &&
    signInForm.controls['email'].invalid){
    <div class="errors-list">
        <span class="error-message">Adresse email invalide</span>
    </div>
    }
  </div>
  <div class="field password">
    <div class="label password-label">
      <label for="password">Mot de passe</label>
    </div>
    <input type="password" id="password" name="password" ngModel required />
    @if(passwordErrors.length != 0){
    <div class="errors-list">
      @for (error of passwordErrors; track error){
      <span class="error-message">{{ error }}</span
      >}
    </div>
    }
  </div>
  <div class="field password">
    <div class="label password-label">
      <label for="confirm-password">Confirmation mot de passe</label>
    </div>
    <input
      type="password"
      id="confirm-password"
      name="confirm-password"
      ngModel
      required
    />
    @if(formSubmitted && signInForm.controls['password'] != signInForm.controls['confirm-password']){
      <div class="errors-list">
        <span class="error-message">Les mots de passe ne correspondent pas</span>
      </div>
    }
  </div>
  <app-button label="S'enregistrer" color="black" fontSize="1rem" padding="0.35rem 3rem">
  </app-button>
</form>
