<div class="search">
  <div class="search-bar">
    <div class="search-bar-col place">
      <label for="où">Où?</label>
      <input type="input" id="où" name="où" placeholder="Montpellier..." />
    </div>
    <div class="search-bar-col service">
      <label for="quoi">Quoi?</label>
      <input type="input" id="quoi" name="quoi" placeholder="Coiffure..." />
    </div>
    <div class="search">
        <app-button class="black" padding="0.25rem 0.5rem" label="Rechercher"></app-button>
    </div>
  </div>
</div>
