<h1 class="title">MonEntreprise</h1>
<div class="company">
  <div class="column left">
    <app-carousel [images]="images"></app-carousel>
    <div class="card collabs">
      <div class="block block-title">
        <h3>Collaborateurs</h3>
      </div>
      <div class="block">
        <app-collaborater collabName="Mathieu"></app-collaborater>
      </div>
    </div>
    <h2>Prestations</h2>
    <app-company-services></app-company-services>
  </div>
  <div class="column right">
    <app-reviews></app-reviews>
    <div class="card adresse">
      <div class="block block-title">
        <h3>Nom entreprise</h3>
      </div>
      <div class="block">
        <span>numéro rue, rue</span>
        <span>complément adresse</span>
        <span>Code postale, ville</span>
      </div>
    </div>

    <div class="card store-hours">
      <div class="block block-title">
        <h3>Nos horaires</h3>
      </div>
      <div class="block">
        <span>Lundi: 8h-19h</span>
        <span>Mardi: 8h-19h</span>
        <span>Mercredi: 8h-19h</span>
        <span>Jeudi: 8h-19h</span>
        <span>Vendredi: 8h-19h</span>
        <span>Samedi: 8h-19h</span>
        <span>Dimanche: 8h-19h</span>
      </div>
    </div>

    <div class="card about">
      <div class="block block-title">
          <h3>A propos de nous</h3>
      </div>
      <div class="block block">
        <p>L'entreprise monEntreprise propose des services de ......</p>
      </div>
    </div>

    <div class="card contact">
      <div class="block block-title">
        <h3>Nous contacter</h3>
      </div>
      <div class="block">
        <p>04.00.00.00.00</p>
        <p>contactmonEntreprise.fr</p>
      </div>
    </div>
  </div>
</div>
